<!--The content below is only a placeholder and can be replaced.-->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<div class="container">
  <h1>Create A User</h1>
  <div *ngIf="update" class="alert alert-success">
    <strong>Success!</strong> User updated successfully.
  </div>

  <div *ngIf="save" class="alert alert-success">
    <strong>Success!</strong> User created successfully.
  </div>

  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="userdetails.user_name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="userdetails.user_email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" name="phoneno" class="form-control" [(ngModel)]="userdetails.user_phone">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" name="age" class="form-control" [(ngModel)]="userdetails.user_age">
    </div>

    <!-- <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" [(ngModel)]="userdetails.name" >
    </div> -->

    <button type="submit" class="btn btn-success" *ngIf="!editusers" (click)=createuser(userdetails)>Submit</button>
    <button type="submit" class="btn btn-success" *ngIf="editusers" (click)=updateuser(userdetails)>update</button>

  </form>
</div>



<div>
  <div class="container">
    <h2>Users List</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userslist;let i = index">
            <td>{{i+1}}</td>

            <td>{{user?.user_name}}</td>
            <td>{{user?.user_age}}</td>
            <td>{{user?.user_email}}</td>
            <td>{{user?.user_phone}}</td>
            <td> <span class="glyphicon glyphicon-pencil" (click)="edituser(user)"></span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div>
  <app-userslist [userslist]="userslist" ></app-userslist>
</div> -->