<div>
  <div><button (click)="save()">save</button></div>
  <div class="container">
      <h2>Our Menu List</h2>
    
      <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>item</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
              <!-- <!-- <td> <img src="assets/images/milk.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="86"> </td>  --> -->
                <td>Red Cherry.</td>
                <td>190</td>
              </tr> 
              <tr>
                  <td>1</td>
                <!-- <!-- <td> <img src="assets/images/milk.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="86"> </td>  --> -->
                  <td>Red Cherry.</td>
                  <td>180</td>
                </tr>  <tr>
                    <td>1</td>
                  <!-- <!-- <td> <img src="assets/images/milk.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="86"> </td>  --> -->
                    <td>Red Cherry.</td>
                    <td>120</td>
                  </tr>  <tr>
                      <td>1</td>
                    <!-- <!-- <td> <img src="assets/images/milk.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="86"> </td>  --> -->
                      <td>Red Cherry.</td>
                      <td>220</td>
                    </tr>  <tr>
                        <td>1</td>
                      <!-- <td> <img src="assets/images/milk.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="86"> </td>  -->
                        <td>Red Cherry.</td>
                        <td>150</td>
                      </tr> 
        </tbody>
      </table>
      </div>
    </div>
</div>
<div>
  <app-createuser></app-createuser>
</div>